.header .swiper-pagination-bullet {
  rotate: 45deg;
  border-radius: 0 !important;
  background: none;
  width: 9px;
  height: 9px;
  border: 1.5px solid #FB2E86;
  margin-right: 10px !important;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.header .swiper-pagination-bullet-active {
  background: #FB2E86;
}

.featured-products .swiper-wrapper {
  margin-bottom: 40px;
}

.featured-products .swiper-pagination-bullet {
  background: #FEBAD7;
  border-radius: 10px;
  width: 16px;
  height: 4px;
  transition: all 0.3s ease-in-out;
}

.featured-products .swiper-pagination-bullet-active {
  background: #FB2E86;
  width: 24px;
}

.top-categories .swiper-wrapper {
  margin-bottom: 40px;
}

.top-categories .swiper-pagination-bullet {
  border-radius: 50% !important;
  background: none;
  width: 10px;
  height: 10px;
  border: 1.5px solid #FB2E86;
  margin-right: 10px !important;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.top-categories .swiper-pagination-bullet-active {
  background: #FB2E86;
}

.about-us .swiper-wrapper {
  margin-bottom: 70px;
}

.about-us .swiper-pagination-bullet {
  border-radius: 3px !important;
  height: 5px;
  padding: 0 10px;
  background: #FF75B0;
  margin-right: 5px !important;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.about-us .swiper-pagination-bullet-active {
  background: #FB2E86;
  padding: 0 15px;
}